@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
margin: 0px;
/*width: 1200px;*/
}

header {
	background-color: #F1F1F1;
	text-align: center;
	padding-bottom: 6px;
}

h1, h2, h3, h4, p, ul, ol, li {
	font-family: 'Source Code Pro', monospace;
}


header h1 {
	color: black;
	font-family: "Source Code Pro", sans serif;
	font-size: 20px;
	font-weight: 400;
}

header img {
	width: 80px;
	padding: 20px;
    border: 4px solid white;
    margin: 10px 0 0px 0;
}
/* Main area elements */
main {
	max-width: 700px;
	margin: 0 auto;
	padding: 6px;
}

main img {
	max-width: 70%;
	display: block;
	margin: 0 auto;


}

/*Font styles*/
h2 {
	font-size: 16px;
    font-weight: 600;
    text-align: center;
}


h3 {
	font-size: 14px;
	font-weight: 600;
	text-align: left;
}

h4 {
	font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 16px;
}

p {
	font-size: 14px;
    font-weight: 400;
    text-align: left;
/*    margin-left: 100px;
    padding: 0 80px 0 0;*/
    line-height: 20px;
}

hr {
	line-height: 4px;
	color: #E3E3E2;
	margin: 62px 60px 60px 62px;
	/*margin-left: 62px;*/
    /*margin-right: 62px;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/

    outline-style: solid;
    outline-width: thin;
}

/*div*/
.ImageDetails {
	display: block;
	margin: 2px auto;
	max-width: 380px;
	background-color: white;
	padding: 6px 16px 0 20px;
/*	border-top: 1px black solid;*/
}

.ImageDetails1 {

	display: block;
	margin: 2px auto;
	max-width: 380px;
	background-color: white;
	padding: 10px 20px 6px 20px;
	border-top: 1px lightgrey solid;
	border-bottom: 1px lightgrey solid;

}


/*links*/
a {
	color: black;
	/*text-decoration: none;*/
}

a:hover {
	color: black;
	font-size: 16px;
    font-weight: 600;
    background-color: #F1F1F1;
}

/* footer style */

footer {
	background-color: #F1F1F1;
	text-align: center;
	padding: 30px 0 30px 0;
	margin-top: 100px;
}

footer p {
	text-align: left;
	margin-left: 140px;
	line-height: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}




